{% extends 'base.html' %}
 
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'submit_document/site.css' %}" />
<script src="{% static 'submit_document/FileSaver.js' %}"></script>
<script src="{% static 'submit_document/sha256.js' %}"></script>
<div class="row">
    <center>
       <h3>Chronos verifiably timestamps your files using the Bitcoin blockchain. <br> </h3>
    <br/><br/>
    <center>
    <h4> Choose a file to timestamp.</h4>
    	<label class="btn btn-primary">
    		Choose File to Upload
        	<input type="file" id="files" name="files[]"/>
    	</label>
    	<br>
    	<br>
        <span id="file-selected"></span>
    </center>
    <form action="/submit" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
      <fieldset class="form-group">
      <br>
      <center>
      <h4> We'll send verification instructions to your email.  </h4>
        <label for="email">Notification Email:</label>
        <input class="form-control" name="email" rows="3" id = "email_id" style="max-width:30%" autocomplete="off" onkeyup="validateEmail()" required></input>
        <label id = "email_notif"></label>
        <br>
        <h4> Only a cryptographic hash of your file is needed so we never see the contents.  </h4>
        <label for="text">Document Hash:</label>
        <textarea required readonly class="form-control" name="text" rows="1" id = 'textarea' style="max-width:50%"></textarea>
        <label id="hash_notif"></label>
        </center>
      </fieldset>
              <center><button type="submit" class="btn btn-primary" id = "submit_button" style="padding-left: 100px; padding-right: 100px" onclick="downloadToken()">Submit</button></center>
            </form>
            <h5> <br>Upon submission you will receive a bitcoin wallet address to send payment to. </h5>
            <h5> <br>Additionally, your browser will download a token for use in future timestamp verification. Don't lose it! </h5>
            <div>
                <textarea readonly hidden='true' id = 'hiddentext'></textarea>
            </div>
        </div>
    </div>
</div>  
 
 
<script>
String.prototype.hexEncode = function(){
    var hex, i;

    var result = "";
    for (i=0; i<this.length; i++) {
        hex = this.charCodeAt(i).toString(16);
        result += ("000"+hex).slice(-4);
    }

    return result
}

  function handleFileSelect(evt) {
    var f = evt.target.files[0];
    var reader = new FileReader();
 
    reader.onload = (function(theFile) {
        return function(e) {
            var text = e.target.result;
            text = text.hexEncode();
            var hash = sha256_digest(text);
            document.getElementById("textarea").innerHTML = hash;
            document.getElementById("hiddentext").innerHTML = text;
            document.getElementById("hash_notif").innerHTML = "";
            };
        })(f);
        reader.readAsText(f);
   
    }
    function downloadToken(){
        if (!validateForm()){
          return;
        }
        var text = document.getElementById("hiddentext").innerHTML;
        var MAGIC="WESTONMIZUMOTOERICBIRDSALLDENNISFANG";
        var blob = new Blob([MAGIC + text + MAGIC], {});
        saveAs(blob, "token.bpoe");
    }

    function validateForm(){
        var email = document.getElementById("email_id").value;
        if (!isAnEmail(email)){
          return false;
        }
        var hash = document.getElementById("textarea").innerHTML;
        if (hash == null || hash == ""){
          document.getElementById("hash_notif").innerHTML = "Please select a document to upload."
          return false;
        }
        return true;

    }

    function validateEmail(){
      var elem = document.getElementById("email_id")
      var email = elem.value;
      if (isAnEmail(email)){
        elem.style.background = '#ccffcc';
        document.getElementById("email_notif").innerHTML = "";

      }else{
        elem.style.background = '#f8d3d3';
        document.getElementById("email_notif").innerHTML = "Please enter a valid email.";
      } 
      
    }


    function isAnEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }


  document.getElementById('files').addEventListener('change', handleFileSelect, false);
  // $('#files').bind('change',
  // 						 function() {
  // 						 	var fileName = '';
  // 						 	fileName = $(this).val().replace(/C:\\fakepath\\/i, '');
  // 							$('#file-selected').html(fileName);
  // 						})
</script>
 
 
{% endblock %}