{% extends 'base.html' %}
 
{% block content %}
{% load staticfiles %}
<script src="{% static 'submit_document/FileSaver.js' %}"></script>
<script src = "http://www.bichlmeier.info/sha256.js"></script>
<div class="row">
    <center>
       <h3>Chronos verifiably timestamps your files using the Bitcoin blockchain. <br> </h3>
    <br/><br/>
    <center>
    <h4> Choose a file to timestamp.</h4>
        <input type="file" id="files" name="files[]"/>
    </center>
    <form action="/submit" method="post">
        {% csrf_token %}
      <fieldset class="form-group">
      <br>
      <center>
      <h4> We'll send verification instructions to your email.  </h4>
        <label for="email">Notification Email:</label>
        <input class="form-control" name="email" rows="3" style="max-width:30%"></input>
        <br>
        <h4> Only a cryptographic hash of your file is needed so we never see the contents.  </h4>
        <label for="text">Document Hash:</label>
        <textarea readonly class="form-control" name="text" rows="1" id = 'textarea' style="max-width:50%"></textarea>
 
        </center>
      </fieldset>
              {% comment %}
              <fieldset class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile">
                <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
              </fieldset>
              {% endcomment %}
              <center><button type="submit" class="btn btn-primary"style="padding-left: 100px; padding-right: 100px" onclick="downloadToken()">Submit</button></center>
            </form>
            <h5> <br>Upon submission you will receive a bitcoin wallet address to send payment to. </h5>
            <h5> <br>Additionally, your browser will download a token for use in future timestamp verification. Don't lose it! </h5>
            <div>
                <textarea readonly hidden='true' id = 'hiddentext'></textarea>
            </div>
        </div>
    </div>
</div>  
 
 
<script>
String.prototype.hexEncode = function(){
    var hex, i;

    var result = "";
    for (i=0; i<this.length; i++) {
        hex = this.charCodeAt(i).toString(16);
        result += ("000"+hex).slice(-4);
    }

    return result
}

  function handleFileSelect(evt) {
    var f = evt.target.files[0];
    var reader = new FileReader();
 
    reader.onload = (function(theFile) {
        return function(e) {
            var text = e.target.result;
            text = text.hexEncode();
            var hash = sha256_digest(text);
            document.getElementById("textarea").innerHTML = hash;
            document.getElementById("hiddentext").innerHTML = text;
            };
        })(f);
        reader.readAsText(f);
   
    }
    function downloadToken(){
        var text = document.getElementById("hiddentext").innerHTML;
        var MAGIC="WESTONMIZUMOTOERICBIRDSALLDENNISFANG";
        var blob = new Blob([MAGIC + text + MAGIC], {});
        saveAs(blob, "token.bpoe");
 
 
    }
  document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>
 
 
{% endblock %}