{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'submit_document/site.css' %}" />
<div class="container">
	<div class="row">
		<center>
				<br>
				<p style="font-size:16px">Thank you for submitting your document hash.</p>
				<p style="font-size:16px"> We will add your document to the blockchain once we receive payment.</p>
				<br>
				<p style="font-size:16px">Please send <b>5 mBTC</b> to this address:</p>
				<br>
            	<b><p style ="font-size:16px"> {{addr}}</p></b>
		</center>
	</div>
</div>   
{% endblock %}
